* {
  margin: 0;
  padding: 0;
  border: 0;
  background: #f3f5fc;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 0 1fr auto;
}

header {
  margin: 10px 0 0 5%;
  position: relative;
}

.logo {
  height: 45px;
}

.logo-safe {
  margin: 0 0 0 20%;
}

main {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  justify-self: center;
  max-height: 1200px;
  height: 100%;
}

.text-input {
  grid-column: 3 / 10;
  display: flex;
  flex-direction: column;
  margin: 5% 10% 5% 0;
  justify-content: top;
  align-items: stretch;
}

textarea {
  resize: none;
}

.text-area {
  font-size: 32px;
  border: none;
  color: #0a3871;
  margin: 90px 0 0;
  min-height: 55vh;
  text-transform: lowercase;
}

.text-area:focus {
  outline: none;
}

::placeholder {
  color: #0a3871;
}

.information {
  color: #495057;
  padding: 0 0 0 20px;
  font-size: 13px;
  align-self: flex-start;
  background-image: url(images/exclamation-circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.buttons {
  display: flex;
  margin: 18px 0 0;
}

.btn-encrypt,
.btn-decrypt,
.btn-copy {
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
  font-size: 18px;
}

.btn-encrypt {
  background-color: #0a3871;
  color: #ffffff;
  width: 328px;
}

.btn-decrypt {
  background-color: #d8dfe8;
  color: #0a3871;
  margin: 0 0 0 30px;
  width: 328px;
}

.text-output {
  grid-column: 10 / 14;
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;
}

.message {
  background: #ffffff;
  padding: 25px 25px 105px 25px;
  font-size: 24px;
  color: #495057;
  background-image: url(images/dummy.png);
  background-position: 50% 30%;
  background-repeat: no-repeat;
  border-radius: 24px;
  width: 400px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.message:focus {
  outline: none;
}

.text-output span {
  background-color: transparent;
  align-self: top;
  position: absolute;
  text-align: center;
  width: 336px;
}

.text-output :nth-child(2) {
  font-size: 26px;
  font-weight: bolder;
  align-self: flex-end;
  height: 160px;
  color: #343a40;
}

.text-output :nth-child(3) {
  font-size: 18px;
  align-self: flex-end;
  margin: 0 0 70px 0;
  color: #495057;
}

.btn-copy {
  visibility: hidden;
  background-color: #ffffff;
  position: absolute;
  width: 336px;
  align-self: flex-end;
  margin: 0 0 24px;
}

footer {
  display: flex;
  color: #ffffff;
  background-color: #0a3871;
  height: 50px;
  justify-content: center;
  align-items: center;
}

footer span {
  background-color: transparent;
  line-height: normal;
  font-size: 16px;
}

footer a {
  background-color: transparent;
  margin: 0 0 0 15px;
  height: auto;
}

footer img {
  background-color: transparent;
  width: 25px;
  filter: brightness(0) invert(1);
}

/*
--RESPONSIVITY
*/
@media screen and (max-width: 1024px) {
  header {
    min-width: 100%;
    height: 50px;
    background-color: #d8dfe8;
    padding: 4%;
    position: fixed;
    margin: 0;
  }

  .logo {
    margin: 0;
    background-color: transparent;
  }

  main {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
  }

  .text-input {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
  }

  .btn-encrypt,
  .btn-decrypt {
    width: 100%;
    margin: 0 0 26px;
  }

  .text-output {
    min-height: 300px;
    max-height: 500px;
    margin: 0 0 90px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .message {
    background-image: none;
    width: 100%;
    padding: 20px;
    padding-bottom: 30%;
  }

  .text-output :nth-child(2) {
    align-self: flex-start;
    margin: 25px 0 0;
  }

  .text-output :nth-child(3) {
    align-self: flex-start;
    margin: 70px 0 0;
  }

  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}

/*
--TABLET
*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo-safe {
    margin-left: 25%;
  }

  .text-area {
    margin-top: 30%;
    min-height: 42vh;
  }

  .btn-encrypt {
    margin-right: 10px;
  }
  
  .btn-decrypt {
    margin-left: 10px;
  }

  .text-output {
    padding-bottom: 12%;
  }
  
  .btn-copy {
    min-width: 85%;
  }
}

/*
--SMARTPHONE
*/
@media screen and (max-width: 767px) {
  .logo-safe {
    margin-left: 30px;
  }

  .text-area {
    margin-top: 35%;
    min-height: 50vh;
  }

  .buttons {
    flex-direction: column;
  }

  .text-output {
    padding-bottom: 25%;
  }
}
