* {
  margin: 0;
  padding: 0;
  border: 0;
  background: #f3f5fc;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

body {
  min-height: 100vh;
  /* width: 940px; */
  display: grid;
  grid-template-rows: 0 1fr auto;
}

header {
  
}

.logo-alura {
  margin: 0 0 0 10px;
  padding: 10px 0 0;
  width: 2%;
  position: relative;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-self: end;
  /* justify-items: end; */
  /* min-width: 1500px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding: 1em; */
  /* grid-template-columns: 60% 30%; */
  /* margin: 0 0 50px 80px; */
}

.text-input {
  /* display: grid; */
  /* width: 70%; */
}

.text-output {
  display: grid;
  flex-direction: column;
  /* width: 30%; */
}

.text-area {
  border: none;
  color: #0a3871;
  margin: 90px 0 0;
  text-transform: lowercase;
}

::placeholder {
  color: #0a3871;
}

.text-area:focus {
  outline: none;
}

.message {
  background: #ffffff;
  background-image: url(images/dummy.png);
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  /* color: #0a3871; */
  /* margin: 20px 0 0 98px; */
  /* padding: 0 0 0 20px; */
  /* position: fixed; */
  height: 80%;
  display: flex;
  flex-direction: column;
}

.message:focus {
  outline: none;
}

.buttons {
  display: flex;
  margin: 18px 0 0;
}

.btn-copy, .btn-decrypt, .btn-encrypt {
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
}

.btn-decrypt {
  background-color: #d8dfe8;
  color: #0a3871;
  margin: 0 0 0 30px;
  width: 328px;
}

.btn-encrypt {
  background-color: #0a3871;
  color: #ffffff;
  width: 328px;
}

.btn-copy {
  color: #0a3871;
  /* margin: 402px 0 0 108px; */
  /* position: absolute; */
  width: 336px;
  
  
}

.information {
  color: #495057;
  font-size: 18px;
}

footer {
  color: #ffffff;
  background-color: #0a3871;
  padding: 15px 0;
}

p {
  background-color: transparent;
  line-height: normal;
  font-size: 16px;
  text-align: center;
}
